* /* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: #f1f5f9;
  line-height: 1.7;
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(10px);
  padding: 20px 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #38bdf8;
}

.nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #f1f5f9;
  font-weight: 500;
  transition: 0.3s;
}

.nav a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  padding: 180px 0 120px;
  text-align: center;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

.tagline {
  color: #38bdf8;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero h2 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700;
}

.hero-desc {
  max-width: 650px;
  margin: auto;
  margin-bottom: 35px;
  color: #cbd5e1;
}

.btn {
  padding: 14px 32px;
  background: #38bdf8;
  color: #0f172a;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
  transform: translateY(-3px);
}

/* SECTIONS */
.section {
  padding: 120px 0;
}

.section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 700;
}

.alt-bg {
  background: #1e293b;
}

.about-text {
  max-width: 700px;
  margin: auto;
  text-align: center;
  color: #cbd5e1;
}

/* PROJECT GRID */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.project-card {
  padding: 30px;
  background: rgba(255,255,255,0.05);
  border-radius: 16px;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255,255,255,0.08);
  transition: 0.4s;
}

.project-card h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.project-card p {
  color: #cbd5e1;
}

.project-card:hover {
  transform: translateY(-8px);
  border-color: #38bdf8;
}

/* CONTACT */
#contact p {
  text-align: center;
  margin-bottom: 10px;
  color: #cbd5e1;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 40px 0;
  background: #0f172a;
  border-top: 1px solid rgba(255,255,255,0.1);
  color: #94a3b8;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero h2 {
    font-size: 32px;
  }

  .nav {
    flex-direction: column;
  }

  .nav a {
    margin: 10px 0;
  }
  .profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 25px;
  border: 4px solid #38bdf8;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  transition: 0.4s;
}

.profile-pic:hover {
  transform: scale(1.05);
}

}
